*.DS_Store
*Frameworks/*
*.xCodeSupport*
*.XcodeSupport*
*Build/*
*webapp/app.html
*webapp/index.html
*webapp/Browser.environment/*
*webapp/CommonJS.environment/*
*webapp/Frameworks/*
*webapp/Info.plist
*webapp/Application.js
*webapp/Resources/*
*webapp/app.manifest
*.sublime-workspace
*target
/.classpath
/.project
*.xcodeproj*
*ModulesSources/**/Build
*cucumber.html*
*Resources/NUAristo.blend
*.cappenvs/environments*
*.cib
