[submodule "client/Libraries/Cappuccino"]
	path = client/Libraries/Cappuccino
	url = https://github.com/Cappuccino/Cappuccino.git
[submodule "client/Libraries/TNKit"]
	path = client/Libraries/TNKit
	url = git@github.mv.usa.alcatel.com:Architect/TNKit.git
[submodule "client/Libraries/NUKit"]
	path = client/Libraries/NUKit
	url = https://github.com/nuagenetworks/nukit.git
[submodule "client/Libraries/Bambou"]
	path = client/Libraries/Bambou
	url = https://github.com/nuagenetworks/objj-bambou.git
[submodule "client/Libraries/NUFlat"]
	path = client/Libraries/NUFlat
	url = https://github.com/nuagenetworks/nukit-theme.git
